<!-- ITEM CARDS IMPLEMENTATION -->
<div class="card-columns">
  <div *ngFor="let item of items" class="card">
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.nCiigzXnPHfrh67vMT6EvQHaEK%26pid%3DApi&f=1"
      class="card-img-top"
      alt="image"
      style="width: 100%"
    />
    <div class="card-body">
      <h4 class="card-title" style="font-weight: bold">
        {{ item.name }}
      </h4>
      <p class="card-text" style="font-weight: bold;">Content:</p>
      <ul *ngFor="let content of item.content">
        <li>{{ content }}</li>
      </ul>
      <p class="card-text" style="font-weight: bold">Required:</p>
      <ul *ngFor="let req of item.required">
        <li>{{ req }}</li>
      </ul>
      <div>
        <p class="card-text" style="font-weight: bold; display: inline">
          Price:
        </p>
        {{ item.price }} gil
      </div>
    </div>
  </div>
</div>
