<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Final Fantasy XII Bazaar Items</h5>
              <h2 class="card-title">Bazaar</h2>
              <div>
                <div ngbDropdown class="btn-group" style="float: left">
                  <button
                    class="btn btn-info"
                    id="dropdownBasic2"
                    ngbDropdownToggle
                  >
                    Filter
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button ngbDropdownItem (click)="onFilter('name')">Bazaar Name</button>
                    <button ngbDropdownItem (click)="onFilter('name')">Item Price</button>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem href="#">Reset Filter</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div
                class="btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label
                  class="btn btn-sm btn-danger btn-simple"
                  (click)="
                    updateOptions();
                    clicked = true;
                    clicked1 = false;
                    clicked2 = false
                  "
                  [ngClass]="{ active: clicked === true }"
                >
                  <input checked="checked" name="options" type="radio" />

                  <span
                    class="d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Cards
                  </span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label
                  class="btn btn-sm btn-danger btn-simple"
                  (click)="
                    updateOptions();
                    clicked = false;
                    clicked1 = true;
                    clicked2 = false
                  "
                  [ngClass]="{ active: clicked1 === true }"
                >
                  <input class="d-none d-sm-none" name="options" type="radio" />

                  <span
                    class="d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    List
                  </span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"> </i>
                  </span>
                </label>
                <label
                  class="btn btn-sm btn-danger btn-simple"
                  (click)="
                    updateOptions();
                    clicked = false;
                    clicked1 = false;
                    clicked2 = true
                  "
                  [ngClass]="{ active: clicked2 === true }"
                >
                  <input class="d-none" name="options" type="radio" />

                  <span
                    class="d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Table
                  </span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-tap-02"> </i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="container">
          <div class="row card-groups">
            <div class="col-md-4" *ngFor="let item of itemList">
              <app-item [item]="item"></app-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
